{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\v11.0; Initial Catalog=Chriz.Serene_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "mov.Movie",
                    "Identifier": "Movie",
                    "Module": "MovieDB",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "mov.Genre",
                    "Identifier": "Genre",
                    "Module": "MovieDB",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                }
            ]
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=(LocalDb)\\v11.0; Initial Catalog=Chriz.Serene_Northwind_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "WebProjectFile": "..\\..\\..\\Chriz.Serene\\Chriz.Serene.Web\\Chriz.Serene.Web.csproj",
    "ScriptProjectFile": "..\\..\\..\\Chriz.Serene\\Chriz.Serene.Script\\Chriz.Serene.Script.csproj",
    "RootNamespace": "Chriz.Serene",
    "BaseRowClasses": [],
    "RemoveForeignFields": []
}