
@{
    ViewBag.Title = Serenity.LocalText.Get("Db.MovieDB.Genre.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Chriz.Serene.MovieDB.GenreGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>