
@{
    ViewBag.Title = "User";
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Chriz.Serene.Administration.UserGrid($('#GridDiv'), {
        });

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>